.container {
  /* display: flex; */
  max-width: 1000px;
  margin: 0 auto;
}

.img {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 12px 15px;
  margin-top: 2.7rem;
  margin-right: 1.5rem;
  font-weight: 650;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.btns {
  padding: 12px 15px;
  margin-top: 1.3rem;
  color: black;
  width: 20.3rem;
  font-weight: 750;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.btns:hover {
  color: white;
  background-color: black;
}

.btn:hover {
  color: black;
  background-color: white;
}

.form_control {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-top: 1.6rem;
  position: relative;
}

.form_control input {
  height: 32px;
  padding: 0 8px;
}

.form_control label {
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
}

.form_control2 {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-top: 1.6rem;
  position: relative;
}
.form_control2 input {
  /* height: 5rem; */
  padding: 0 8px;
}
.form_control2 label {
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
}

.submit {
  padding: 12px 15px;
  margin-top: 10px;
  margin-right: 1.5rem;
  margin-left: 12rem;
  width: 8rem;
  font-weight: 650;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}
